<div class="footer">
    <div class="direcciones">
        <div class="locacion-titulo">
            <h2 class="locacion-texto">Nuestra direccion es:</h2>
        </div>
        <div class="locacion">
            <h2 class="locacion-texto">calle falsa 123</h2>
        </div>
    </div>
    <div class="direcciones">
        <div class="locacion-titulo">
            <h2 class="locacion-texto">Contacto:</h2>
        </div>
        <div class="locacion">
            <h2 class="locacion-texto">arroba@mail.com</h2>
            <h2 class="locacion-texto">(+54) 11-1111-1111</h2>
        </div>
    </div>
    <div class="redes">
        <div class="instagram">
            <h2 class="footer-info">Seguinos en Instagram</h2>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="instagram">
            <h2 class="footer-info">Seguinos en Facebook</h2>
            <i class="fab fa-facebook"></i>
        </div>
    </div>
</div>