<div class="footer-container">
    <div class="footer-item">
        <h4 class="footer-title">Oficinas</h4>
        <h3 class="footer-subtitle">Quesada 1312</h3>
    </div>
    <div class="footer-item">
        <h4 class="footer-title">Contacto:</h4>
        <h4 class="footer-subtitle">arroba@mail.com</h4>
        <h4 class="footer-subtitle">(+54) 11-1111-1111</h4>
    </div>

    <div class="footer-item">
            <h4 class="footer-title">Redes:</h4>
            <h4 class="footer-subtitle">Seguinos en Instagram <i class="fab fa-instagram footer-subtitle"></i></h4> 
            <h4 class="footer-subtitle">Seguinos en Facebook  <i class="fab fa-facebook footer-subtitle"></i></h4>
    
    </div>
    </div>
</div>





