<div class="top">
    <a href="home.html"><img src="/img/logo.jpg" style="height: 100px;"></a>
</div>
<ul class="nav-list">
    <li class="nav-item"><a href="">Inmbuebles</a></li>
    <li class="nav-item"><a href="">Contactenos</a></li>
    <li class="nav-item"><a href="">Buscador</a></li>
</ul>
<ul class="nav-log">
    <li class="nav-item"><a href="/login">Login</a></li>
    <li class="nav-item"><a href="/register">Registrarse</a></li>
</ul>