<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header class="page-header">
        <%- include("./partials/header") %>
    </header>

    <h2>REGISTRO DE AGENTE</h2>
    <p>Complete los siguientes datos:</p>
    <form action="/register" method="POST">
        <div class="form-background">
            <div class="input-box">
                <input class="input" type="text" name="name" id="user-name" placeholder="Nombre">
            </div>

            <div class="input-box">
                <input class="input" type="text" name="lastname" id="user-lastname" placeholder="Apellido">
            </div>

            <div class="input-box">
                <input class="input" type="email" name="email" id="user-email" placeholder="Correo Electrónico">
            </div>

            <div class="input-box">

                <input class="input" type="text" name="dni" id="dni" placeholder="DNI">
            </div>

            <div class="input-box">
                <label for="agente-img" class="label-agente">Ingrese su foto para registrarse como agente</label>
                <input type="file" name="agente-img" id="agente-img">
            </div>

            <div class="input-box">

                <input class="input" type="password" name="password" id="password" placeholder="Contraseña">
            </div>

            <div class="input-box">

                <input class="input" type="password" name="password2" id="password" placeholder="Confirmar contraseña">
            </div>

            <div class="input-box">
                <input type="checkbox" name="terms-cond" id="terms-cond">
                <label class="label" for="terms-cond">Acepto los "terminos y condiciones"</label>
            </div>

            <div class="input-box">
                <input type="checkbox" name="news" id="news">
                <label class="label" for="news">Quiero recibir emails con noticias, productos y ofertas</label>
            </div>
            <div class="input-button">
                <button class="register-button" type="submit">REGISTRARSE</button>
            </div>
        </div>

    </form>
    <footer>
        <%- include("./partials/footer") %>
    </footer>
</body>

</html>