<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header class="page-header">
        <%- include("./partials/header") %>
    </header>

    <div id="foto-home">
        <img src="/img/Imagen-Home.jpg" alt="imagen portada">
        <div class="texto-centrado1">
            <h2>PropTech</h2>
        </div>
        <div class="texto-centrado2">
            <p>Una empresa dedicada a conseguir el hogar de tus sueños</p>
        </div>
    </div>
    <div>
        <h2 class='titulo'>Inmuebles destacados</h2>
        <div class='agentes'>
            <center>
                <div class='img2'><img src='/img/propiedadesjpg.jpg' alt='Agente 1' id='tamanio-imagen'>
                    <p>Juan B Justo 1440</p>
                </div>
                <div class='img2'><img src='/img/propiedadesjpg.jpg' alt='Agente 2' id='tamanio-imagen'>
                    <p>Larralde 1440</p>
                </div>
                <div class='img2'><img src='/img/propiedadesjpg.jpg' alt='Agente 3' id='tamanio-imagen'>
                    <p>Costa rica 1440</p>
                </div>
                <div class='img2'><img src='/img/propiedadesjpg.jpg' alt='Agente 4' id='tamanio-imagen'>
                    <p>Montañeses 1440</p>
                </div>
            </center>
        </div>
    </div>
    <div id='buscador'>
        <form action="/home" method="post">
            <input type='text' placeholder="Ubicacion" name='Ubicacion'>
            <select name="Barrio">
                <option value="1">Chacarita</option>
                <option value="2">Belgrano</option>
                <option value="3">Colegiales</option>
                <option value="4">Palermo</option>
                <option value="5">Olivos</option>
            </select>
            <select name="Rango de precios">
                <option value="1">10.000 - 20.000</option>
                <option value="2">20.001 - 30.000</option>
                <option value="3">30.001 - 40.000</option>
                <option value="4">40.001 - 50.000</option>
                <option value="5">50.001 - +</option>
            </select>
            <label>
                    <input type="checkbox" value="Alquiler" name='Alquiler'>
                    Alquiler
                </label>
            <div class="boton"><button type="submit">Buscar</button></div>

        </form>
    </div>

    <div class='agentes'>
        <h1>Agentes inmobiliarios</h1>
        <center>
            <div class='img1'><img src='/img/agente.jpg' alt='Agente 1' id='tamanio-imagen'>
                <p>Martin +541164254656</p>
            </div>
            <div class='img1'><img src='/img/agente.jpg' alt='Agente 2' id='tamanio-imagen'>
                <p>Matias Rosbaco +541164254656</p>
            </div>
            <div class='img1'><img src='/img/agente.jpg' alt='Agente 3' id='tamanio-imagen'>
                <p>Marco Morana +541164254656</p>
            </div>
            <div class='img1'><img src='/img/agente.jpg' alt='Agente 4' id='tamanio-imagen'>
                <p>Gonzales Pardo +541164254656</p>
            </div>
        </center>
    </div>
    <div class='contacto'>
        <form action="/home" method="post">
            <h2>Contactenos</h2>

            <div class='formulario'><input type='text' placeholder="Email" name="Email"></div>
            <div class='formulario'>
                <input type='text' placeholder='Nombre' name="Nombre">
                <input type='text' placeholder='Telefono' name='Telefono'>
            </div>
            <div class='formulario'>
                <textarea name='Contactenos' cols='30' rows='5'>Quiero que me contacten sobre el alquiler de un departamento</textarea>
            </div>
            <div class='formulario'>
                <label>Quiero que me contacten por telefono        <input type='checkbox'></label>
            </div>
            <div class='formulario'>
                <input type='submit' name='submit' value='Enviar'>
            </div>
        </form>
    </div>
    <footer>
        <%- include("./partials/footer") %>
    </footer>

</body>

</html>