<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header class="page-header">
        <%- include("./partials/header") %>
    </header>
    <div class="error-box">
        <ul class="error">
            <li class="error-texto">
                Tenés que completar el nombre de usuario
            </li>
        </ul>
    </div>
    <div class="division">
        <form action="/login" method="POST">
            <label class="ingreso">Complete los siguientes datos para ingresar a su cuenta</label>
            <div class="input-box">
                <input class="input" type="text" id="email" name="email" placeholder="Correo Electrónico">
            </div>
            <div class="input-box">
                <input class="input" type="text" id="contraseña" name="contraseña" placeholder="Contraseña">
            </div>
            <div class="confirmacion-box">
                <input type="checkbox" id="rec.usu" placeholder="Recordar datos?">
                <label class="confirmacion" for="news">Quiero recordar mis datos</label>
            </div>
            <div class="input-button">
                <input class="login-button" type="submit" value="Enviar">
            </div>
        </form>
    </div>
    <footer>
        <%- include("./partials/footer") %>
    </footer>
</body>