<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header class="page-header">
        <%- include("./partials/header") %>
    </header>

    <h2 class="title">Agregar nuevo producto</h2>

    <form action="/producto" method="POST">

        <div class="form-background">

            <div class="div-box">
                <label class="labell" for="name">Nombre del producto</label>
                <input class="inputt" type="text" name="name" id="name">
            </div>

            <div class="div-box">
                <label class="labell" for="desc">Descripción del producto</label>
                <textarea class="inputt" name="comentario" rows="10" cols="40"></textarea>
            </div>

            <div class="div-box">
                <label class="labell" for="img">Imagen del producto</label>
                <input class="inputt" type="file" name="archivo" id="archivo">
            </div>

            <div class="div-box">
                <label class="labell" for="categoria">Categoría</label><br><br>
                <input type="radio" name="compra-venta" value="compra"> Compra <br><br>
                <input type="radio" name="compra-venta" value="alquiler"> Alquiler
            </div>

            <div class="div-box">
                <label class="label" for="precio">Precio</label>
                <input class="input" type="number" name="precio" id="precio">
            </div>

            <div class="div-button">
                <button class="buttonn" type="submit">AGREGAR NUEVO PRODUCTO</button>
            </div>

        </div>

    </form>



    <footer>
        <%- include("./partials/footer") %>
    </footer>

</body>

</html>