<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header class="page-header">
        <%- include("./partials/header") %>
    </header>


    <h1 class="title"> Nuestras propiedades</h1>
    <div class="container">

        <div class="propiedad">
            <img src="/img/producto 2.jpg" alt="">
            <h4>$220.000</h4>
            <p>Av. Congreso 1600, Nuñez, Capital Federal <br> Antiguedad: 5 años <br> Superficie total: 220m²</p>
            <a href="#">Leer más</a> <br>
            <div>
                <button class="btn-propiedad">Contactar un agente</button>
            </div>

        </div>

        <div class="propiedad">
            <img src="/img/producto 2.jpg" alt="">
            <h4>$220.000</h4>
            <p>Av. Congreso 1600, Nuñez, Capital Federal <br> Antiguedad: 5 años <br> Superficie total: 220m²</p>
            <a href="#">Leer más</a>
            <div>
                <button class="btn-propiedad">Contactar un agente</button>
            </div>
        </div>

        <div class="propiedad">
            <img src="/img/producto 2.jpg" alt="">
            <h4>$220.000</h4>
            <p>Av. Congreso 1600, Nuñez, Capital Federal <br> Antiguedad: 5 años <br> Superficie total: 220m²</p>
            <a href="#">Leer más</a>
            <div>
                <button class="btn-propiedad">Contactar un agente</button>
            </div>
        </div>

        <div class="propiedad">
            <img src="/img/producto 2.jpg" alt="">
            <h4>$220.000</h4>
            <p>Av. Congreso 1600, Nuñez, Capital Federal <br> Antiguedad: 5 años <br> Superficie total: 220m²</p>
            <a href="#">Leer más</a>
            <div>
                <button class="btn-propiedad">Contactar un agente</button>
            </div>
        </div>



    </div>






    <footer>
        <%- include("./partials/footer") %>
    </footer>

</body>

</html>