<div class="top">
    <a href="/"><img src="/img/logo nuevo.png" style="height: 100px;"></a>
</div>
<ul class="nav-list">
    <li class="nav-item"><a href="/producto">Inmuebles</a></li>
    <li class="nav-item"><a href="/contact">Contactenos</a></li>
    <li class="nav-item"><a href="">Buscador</a></li>
</ul>
<ul class="nav-log">
    <% if (locals.isLogged) { %>
        <li class="nav-item"><a href="/user/profile"><%= locals.userLogged.name %>
        <p><%= user.nombre %></p>
        <img src="/img/<% if(user.agenteId){ %>agentes<% }else{ %>users<% } %>/<%= user.imagen %>" width="40" style="border-radius: 100%;"></a>
        <li class="nav-item"><a href="/user/logout">logout</a>
    <% } else{ %>
    <li class="nav-item"><a href="/user/login">Login</a></li>
    <li class="nav-item"><a href="/user/register">Registrarse</a></li>
    <% } %>
</ul>