* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.div-box {
    margin: 20px;
}

.div-box .inputt {
    display: block;
    width: 100%;
    font-size: 0.8em;
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
}

.labell {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif; 
}

.div-button {
    width: 50%;
    margin: auto;
}

.buttonn {
        display: block;
        width: 100%;
        padding: 5px;
        border: 2px solid black;
        border-radius: 8px;
        color: black;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 20px;
}

@media (min-width: 768px) {
    .div-box {
        width: 60%;
        margin: auto;
        padding: 10px;
    }
    .div-button {
        display: flex;
        justify-content: center;
        width: 28%;
        margin: 18px;
    }
}

@media (min-width: 1200px) {
    .div-box {
        margin: 10px;
        padding: 5px;
        width: 25vw;
    }
    .buttonn {
        margin-bottom: 20px;
        width: 20vw;
    }
    .buttonn:hover {
        background-color: #007bff; 
        color: #fff;
    }
}